* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fffcf4;
    --white-color: #ffffff;
    --font-sen: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
/* common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 11px;
    line-height: 50px;
    flex-shrink: 0;
    border-radius: 999px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}

.header {
    background: var(--primary-color);
    padding-top: 24px;
}

.header-sticky {
    position: sticky;
    top: -24px;
    z-index: 1;
}

.heading {
    color: #171100;
    font-family: var(--font-sen);
    letter-spacing: -0.02em;
}

.heading.lv1 {
    --line-clamp: 3;
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 1.17;
}
.heading.lv2 {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.header .nav {
    margin-left: auto;
}

.header .body .list {
    display: flex;
}

.header .nav .link-nav {
    padding: 11px 21px;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
}

.header .nav .link-nav:hover,
.header .nav .active .link-nav {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .nav .active .link-nav::after {
    position: absolute;
    content: "";
    bottom: 6px;
    left: 21px;
    display: block;
    width: 11px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
}

.header .btn-signUp {
    margin-left: 49px;
    min-width: 144px;
}
/* hero */
.hero {
    padding: 52px 0 65px;
    background-color: var(--primary-color);
}

.hero .body {
    display: flex;
}

.hero .media-block,
.content {
    width: 50%;
}

.hero .media-block {
    position: relative;
}

.hero .media-block .image-banner {
    width: 470px;
    height: 685px;
    object-fit: cover;
    object-position: 80%;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero .media-block .hero-summary {
    position: absolute;
    background-color: var(--white-color);
    width: 270px;
    right: 0;
    bottom: 48px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.hero-summary .item:first-child {
    margin-top: 0;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .info .lable {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85;
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content {
    padding: 64px 0 0 130px;
}

.hero .content .desc {
    --line-clamp: 3;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin: 22px 0;
}

.hero .content .cta-group {
    margin: 38px 0;
    display: flex;
    align-items: center;
}

.hero .cta-group .btn-content {
    min-width: 180px;
    background: #ffb900;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 64px;
}

.hero .cta-group .play-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .play-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .play-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content .desc1 {
    margin: 48px 0 8px;
}

.hero .content .desc2 {
    margin: 0;
}

.hero .content .desc2 strong {
    color: #171100;
    font-family: var(--font-sen);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    padding-right: 8px;
}

.hero .content .desc2 strong + strong {
    margin-left: 28px;
}
/* courses */
.courses {
    padding: 200px 0;
    background-color: var(--white-color);
}

.courses .row {
    display: flex;
    align-items: center;
}

.courses .row-heading {
    justify-content: space-between;
}

.courses .row .desc {
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-top: 16px;
}

.courses .control {
    display: flex;
    gap: 18px;
}

.courses .control .btn-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffb900;
    color: #ffb900;
    background-color: transparent;
}

.courses .control .btn-control:hover,
.courses .control .btn-control.active {
    color: var(--white-color);
    background-color: #ffb900;
    cursor: pointer;
}

.courses .list-courses {
    margin-top: 55px;
    gap: 30px;
}

.courses .list-courses .item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}

.courses .list-courses .item:first-child {
    border-color: transparent;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.courses .list-courses .item:hover {
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.courses .list-courses .img-courses {
    width: 370px;
    height: 278px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    margin: 2;
}

.courses .list-courses .info {
    padding: 18px 22px 22px;
}

.courses .row-title {
    justify-content: space-between;
}

.courses .row-title .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.courses .row-title .title a {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    padding-right: 6px;
}

.courses .row-title .star {
    display: flex;
    align-items: center;
    gap: 6px;
}

.courses .row-title .star span {
    color: #fea31b;
    font-size: 16px;
    line-height: 1.75;
}

.courses .info .row-title ~ .row-title {
    margin-top: 8px;
}

.courses .list-courses .info .desc {
    width: 326px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.courses .btn-price {
    font-size: 1.4rem;
}

.courses .active,
.courses .btn-price:hover {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    background: #ffb900;
    border: none;
}
/* feedback */
.feedback {
    padding: 96px 0;
    background: #2e2100;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feedback .feedback-item .img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .feedback-item .title-name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-sen);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.feedback .feedback-item .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.feedback .feedback-item .dots {
    margin-top: 28px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.feedback .feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback .feedback-item .active,
.feedback .feedback-item .dot:hover {
    background: #ffb900;
    cursor: pointer;
}

.feedback-item .content {
    width: 66%;
}

.feedback-item .content blockquote {
    --line-clamp: 4;
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
}
/* feature */
.feature {
    padding: 200px 0;
}

.feature .body {
    display: flex;
}

.feature .body .thumb-img,
.feature .body .info {
    width: 50%;
}

.feature .body .thumb-img {
    position: relative;
}

.feature .body .image {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
    vertical-align: bottom;
}

.feature .body .img-1 {
    position: relative;
    top: 34px;
    left: 0;
}

.feature .body .img-2 {
    position: absolute;
    top: 0;
    right: 15px;
}

.feature .info {
    padding: 58px 0 0 115px;
}

.feature .title {
    color: #171100;
    font-family: var(--font-sen);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.feature .desc {
    margin: 16px 0;
    color: #5f5b53;
    font-size: 16px;
    line-height: 1.75; /* 175% */
}

.feature .btn-active {
    margin-top: 16px;
    min-width: 137px;
    font-size: 1.6rem;
}

.feature .btn-active:hover {
    background: #ffb900;
    color: #ffffff;
}

.feature .body .info-2 {
    width: 570px;
}

.feature .body + .body {
    padding-top: 234px;
    justify-content: space-between;
    align-items: center;
}

.feature .body .img-3 {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

/* blog */
.blog {
    padding: 96px 0;
    background-color: var(--primary-color);
}

.blog .heading .title {
    color: #130606;
    text-align: center;
    font-family: var(--font-sen);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.blog .heading .desc {
    width: 448px;
    margin: 16px auto;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.blog .list-blog {
    display: flex;
    gap: 0 30px;
    margin-top: 55px;
}

.blog .list-blog .item-blog {
    background-color: var(--white-color);
    flex: 1;
    border-radius: 16px;
}

.blog .item-blog .banner-item {
    width: 370px;
    height: 250px;
    object-fit: cover;
    vertical-align: bottom;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.blog .item-blog .info {
    padding: 20px;
}

.item-blog .info .date-create {
    position: relative;
    color: #5f5b53;
    font-size: 14px;
    line-height: 1.86; /* 185.714% */
    padding-left: calc(6px + 4px);
}

.item-blog .info .date-create::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffb900;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.item-blog .info .date-create::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
    left: 0;
    bottom: -12px;
}

.item-blog .info .info-title {
    margin: 25px 0 12px;
    color: #171100;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    width: 330px;
}

.item-blog .info .btn-blog {
    font-size: 1.4rem;
    font-weight: 600;
}

.item-blog .info .btn-blog:hover,
.item-blog .info .acitve {
    background: #ffb900;
    color: var(--white-color);
}

.item-blog.acitve {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.item-blog:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blog .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    gap: 6px;
}

.blog .dots .dot {
}

.blog .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.blog .dots .active,
.blog .dots .dot:hover {
    background: #ffb900;
    cursor: pointer;
}
